.countdown {
  padding: 20px 20px 0 20px;
  background-color: #3e92ca;
  color: #fff;
  font-size: 1.8rem;
}

.item-icon {
  margin-left: 10px;
  float: right;
}

.item-icon:hover {
  cursor: pointer;
}